* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	background-color: #5c715e;
}

.container {
	background-color: #f2f9f1;
	border-radius: 10px;
	text-align: center;
	width: 30%;
	z-index: 0;
	overflow: hidden;
}

.title {
	padding: 30px 0;
	font-size: 2.5rem;
}

.progress-bar {
	position: relative;
	display: flex;
	justify-content: space-between;
	counter-reset: step;
	margin: 2rem 2rem 4rem;
}

.progress-bar::before,
.progress {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 4px;
	width: 100%;
	background-color: #dcdcdc;
	z-index: -1;
}

.progress {
	background-color: #008060;
	width: 0%;
	transition: width 0.3s ease;
	left: 0;
}

.progress-step {
	width: 2.2rem;
	height: 2.2rem;
	background-color: #dcdcdc;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.progress-step::before {
	counter-increment: step;
	content: counter(step);
}

.progress-step::after {
	content: attr(data-title);
	position: absolute;
	top: calc(100% + 0.5rem);
	font-size: 0.85rem;
	color: #666;
}

.check {
	display: none;
}

.step-active {
	background-color: #008060;
	color: white;
	transition: 0.7s ease-in-out;
}

.form-container {
	display: flex;
	width: 400%;
}

.form-area {
	width: 25%;
}

.progress-title {
	padding: 0 0 0 15px;
	text-align: left;
	font-weight: 500;
	font-size: 1.6rem;
}

.form-field {
	margin: 30px 0 20px 0;
	position: relative;
}

.form-field .label {
	display: flex;
	justify-content: flex-start;
	text-align: center;
	font-size: 1rem;
	transition: all 0.3s ease;
	pointer-events: none;
	margin: 0 0 5px 10%;
}

.form-field .form-input,
.form-field select {
	box-shadow: inset #abacaf 0 0 0 2px;
	border: 0;
	background: rgba(0, 0, 0, 0);
	appearance: none;
	width: 80%;
	position: relative;
	border-radius: 3px;
	padding: 9px 12px;
	line-height: 1.4;
	color: black;
	font-size: 16px;
	font-weight: 400;
	height: 40px;
	transition: all 1s ease;
}

.form-field .form-input:hover {
	box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
}

.form-field .form-input:focus {
	background: #fff;
	outline: 0;
	box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
}

.errors {
	color: #ff3860;
	font-size: 0.6rem;
	height: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0.23rem 0 0 10%;
}

.btn-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.btn-next:first-child {
	margin-left: auto;
	margin-right: 15%;
}

.btn {
	display: inline-block;
	outline: 0;
	cursor: pointer;
	text-align: center;
	border: 0;
	padding: 7px 0;
	width: 20%;
	min-height: 36px;
	color: #ffffff;
	background: #008060;
	border-radius: 4px;
	font-weight: 500;
	font-size: 14px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
	margin: auto 0 30px;
}

.btn:hover {
	background: #006e52;
}

.btn-submit {
	display: none;
	justify-content: center;
	align-items: center;
}
